body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

table{
    background-color: aqua;
}

td,tr{
    padding: 10px;
}



.width-input{
    width: 150px ;
    padding: 10px 20px 10px 10px ;
    margin: 0px;
    border: solid black;
    border-radius: 4px;
}

select{
    padding: 10px 45px 10px 10px  ;
    border: solid black;
    border-radius: 4px;
}

input[type="submit"]{
    background-color: green;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 4px;
    margin: 0px 10px 10px 70px;
}

caption{
    font-size: 25px;
    margin: 10px 10px 20px 10px;
}

input[type="reset"]{
    background-color: blue;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 4px;
    
}

textarea{
    border: solid black;
    border-radius: 4px;
    height: 50px;
    width: 220px;
}